body{
    background-image: url('../img/fondoWeb.png');
}

.LoginUsr{
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgba(127, 255, 212, 0.541);
}

.crear{
  margin-top: 8%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: rgba(127, 255, 212, 0.507);
  color: black;
}

.tos{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: small;
}

.cards-container {
  margin-top: 6%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.links{
  display: flex;
  gap: 16px;
  margin-left: 16px;
}


.card-icon {
  width: 42px;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 50%;
}

.img-perf {
  width: 45%;
  height: auto;
  vertical-align: middle;
  border-radius: 50%;
}

.card-mb-3{
  margin-top: 5%;
  background-color: white;
  margin-left: 20px;
  /* margin-right: 20px; */
  width: fit-content;
}
